@{
    ViewData["Title"] = "Despre";
}


<main>
    <section>

        <h1>Despre Primaria Craiovei</h1>
        <p>3 informații interesante: </p>


        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3> 1</h3>
                    <p>
                        Palatul Banca Comerțului, clădire monumentală ce găzduiește Primăria Municipiului Craiova, este unul dintre cele mai cunoscute edificii din oraș.
                    </p>
                    <p>Banca Comerțului a fost proiectată de arhitectul Ion Mincu în 1906 și finalizată în 1916 de către elevul acestuia, Constantin Iotzu.</p>
                </div>
                <div class="col-sm-4">
                    <h3> 2</h3>
                    <p>
                        Clădirea are un interior bogat decorat cu stucaturi, vitrouri, mozaicuri venețiene și grilaje de fier forjat.
                        La 12 decembrie 1897 (după alte surse în 1899), bancherul și omul politic liberal craiovean Constantin Neamțu înființa la Craiova, sub forma unei afaceri de familie, Banca Comerțului.
                    </p>
                    <img src="photo/primarie_veche.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
                </div>
                <div class="col-sm-4">
                    <h3> 3</h3>
                    <p>
                        În perioada 1916-1918, în timpul ocupației germane în Craiova, în noua clădire s-a instalat cartierul general german. La plecarea nemților din Oltenia, clădirea a fost devastată, așa cum s-a întâmplat cu mai multe edificii ocupate.
                    </p>
                    <p>După 1948, în clădire au funcționat mai multe instituții, printre care Filiala Academiei de Științe Istorice, Arheologice și Etnografice, Comitetul Municipal al PCR și Consiliul Popular Municipal.</p>
                </div>
            </div>
        </div>
    </section>
</main>