@{
    ViewData["Title"] = "Stiri";
}

<main>
    <section>
        <div>
            <h1>Știrile Orașului Craiova</h1>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-4" style="border: solid; border-color: #0044cc;">
                    <h3>
                        Centrul Sf. Nectarie a deschis primul Centru de Vaccinare anti-HPV din Craiova, vaccinare împotriva cancerului!
                    </h3>
                    <p>
                        Centrul de Oncologie și Radioterapie Sf. Nectarie din Craiova deschide p𝐫𝐢𝐦𝐮𝐥 𝐂𝐞𝐧𝐭𝐫𝐮 𝐝𝐞 𝐕𝐚𝐜𝐜𝐢𝐧𝐚𝐫𝐞 𝐀𝐧𝐭𝐢-𝐇𝐏𝐕 𝐝𝐢𝐧 𝐂𝐫𝐚𝐢𝐨𝐯𝐚. Vaccinarea anti-HPV este cea mai sigură și eficientă soluție pentru reducerea riscului de infecție. Centrul de Vaccinare Anti-HPV din Craiova va funcționa pe baza unei trimiteri de la medicul de familie. Programările pot fi făcute telefonic sau online.
                        Cancerul de col uterin, provocat de virusul HPV, este cel mai frecvent tip de cancer ginecologic diagnosticat în România și al doilea cel mai comun tip de cancer la femeile din grupa de vârstă 15-44 de ani. În fiecare an, în țara noastră, aproape 3400 de femei primesc acest diagnostic. Circa 1800 își pierd viața din cauza lui.
                        Vaccinarea este gratuită pentru copiii (fete și băieți) între 11 și 18 ani și cu reducere 50% pentru femeile între 19 și 45 de ani.
                    </p>

                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4" style="border: solid; border-color: #0044cc;">
                    <h3>Olguța Vasilescu susține că, de fapt, a salvat zona Pieței Vechi: ”Un cetățean voia să facă un bloc de 10 etaje”</h3>
                    <p>Olguța Vasilescu susține că ridicarea unui complex sport a fost, de fapt, o idee salvatoare pentru zona fostei Piețe Vechi a orașului, unde ”un cetățean” intenționa să ridice un bloc de zece etaje. Primărița Craiovei nu s-a lăsat înduplecată de solicitarea opoziției de a retrage de pe ordinea de zi proiectul de hotărâre privind declararea lucrărilor de utilitate publică și interes local pentru construirea Complexului Sportiv în locul fostei Piețe Vechi a Craiovei. Majoritatea consilierilor a votat pentru declanșarea procedurilor de expropriere și realizare a obiectivului.</p>

                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-sm-4" style="border: solid; border-color: #0044cc;">
                    <h3>Avocatul Piperea lansează la Craiova Asociaţia pentru Iniţiativă Civică şi Democraţie Participativă</h3>
                    <p>
                        Asociaţia pentru Iniţiativă Civică şi Democraţie Participativă (AICDP) va fi prezentată presei locale, vineri, 1 iulie, de către avocatul Gheorghe Piperea (foto, sursa activenews.ro), președintele platformei, în cadrul unei conferințe de presă.

                        ”Profesor universitar doctor la Facultatea de Drept din cadrul Universității din Bucureşti, managing partener la “Piperea & Asociaţii”, prezenţa domnului avocat la Craiova se datorează lansării platformei civice “Asociaţia pentru Iniţiativă Civică şi Democraţie Participativă”, au transmis reprezentanții AICDP.

                        În cadrul întâlnirii va fi expusă motivaţia punerii bazelor filialelor, vor fi oferite explicaţii exemplificate ale iniţiativei civice şi democraţiei patricipative și ”vor avea loc discuţii privind situaţia economică la nivel naţional şi internaţional, restrângerea drepturilor şi libertăţilor cetăţeneşti, cele mai recente decizii luate la nivel european (amprenta individuală de dioxid de carbon, portofelul digital, prelungirea certificatului verde etc.)”, mai spun cei de la AICDP.
                    </p>

                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4" style="border: solid; border-color: #0044cc;">
                    <h3>Ludovic Orban și Violeta Alexandru vin la ”botezul” Filialei Dolj a Partidului Forța Dreptei</h3>
                    <p>
                        reședintele Partidului Forța Dreptei, Ludovic Orban, și Violeta Alexandru, liderul grupului parlamentar din Camera Deputaților a formațiunii politice, vor participa, vineri, 1 iulie, la constituirea Comitetului Județean de Inițiativă a filialei Dolj, al cărui președinte este Nicolae Giugea.

                        ”Cu această ocazie, va fi inaugurat și sediul filialei Dolj a Partidului Forța Dreptei, str. Mihail Kogălniceanu, nr. 17”, anunță reprezentanții PFD Dolj.

                        În cadrul evenimentului va fi organizată o conferință de presă, iar Violeta Alexandru se va întâlni cu reprezentanții pensionarilor. Totodată, se va înființa și Organizației de Tineret a Partidului Forța Dreptei Dolj.

                        Reamintim că fostul președinte al PNL, Ludovic Orban, a decis să lanseze un nou proiect politic după ce conducerea partidului a votat excluderea lui. El a spus că se va alia cu USR împotriva alianței PSD-PNL, pe care a numit-o „un monstru”. Parte din liberali l-au urmat, printre care și deputatul de Dolj, Nicolae Giugea, fost prefect de Dolj și candidat pentru Primăria Craiova la ultimele alegeri locale, organizate în toamna lui 2020. Este, deci, foarte probabil, ca acesta să fie și candidatul pe care PFD și USR să-l pregătească pentru o nouă luptă electorală în Cetatea Băniei, în 2024.
                    </p>

                </div>
            </div>
        </div>

    </section>
</main>