<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primăria Craiova</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <h1>Primăria Municipiului Craiova</h1>
        <nav>
            <ul>
                <li><a href="index.html">Acasă</a></li>
                <li><a href="despre.html">Despre noi</a></li>
                <li><a href="servicii.html">Servicii</a></li>
                <li><a href="stiri.html">Știri</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="proiecte.html">Proiecte</a></li>
            </ul>
            <button id="theme-toggle">
                <i id="theme-icon" class="bi bi-moon-fill"></i>
            </button>
        </nav>
    </header>

    <main>
        <section>

            <h1>Contact:</h1>
            <a href="#" style="font-size: 30px;">
                <span class="glyphicon glyphicon-earphone"></span><p>Nr Telefon: +0344 154 925 </p>
            </a>
            <br><br>
            <a href="#" style="font-size: 30px;">
                <span class="glyphicon glyphicon-envelope"></span><p>Email: primariacraiova@gmail.com</p>
            </a>
            <br><br><br>



        </section>
    </main>

    <footer>
        <p>2025 Primăria Craiova.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
