@{
    ViewData["Title"] = "Acasă";
    Layout = "~/Views/Shared/_Layout.cshtml"; // this is default
}

<header>
    <h1>Primăria Municipiului Craiova</h1>
    <nav>
        <ul>
            <li><a href="/Home/Index">Acasă</a></li>
            <li><a href="/Home/Despre">Despre noi</a></li>
            <li><a href="/Home/Servicii">Servicii</a></li>
            <li><a href="/Home/Stiri">Știri</a></li>
            <li><a href="/Home/Contact">Contact</a></li>
            <li><a href="/Home/Proiecte">Proiecte</a></li>
        </ul>
        <button id="theme-toggle">
            <i id="theme-icon" class="bi bi-moon-fill"></i>
        </button>
    </nav>
</header>

<main>
    <section>
        <h2>Bun venit pe site-ul Primăriei Craiova</h2>
        <p>Aici găsiți informații utile despre oraș, servicii și proiecte.</p>
        <div class="general">
            <h3>Primăria Craiova</h3>
            <p>Primăria Municipiului Craiova este dedicată dezvoltării orașului...</p>
            <img src="~/photo/Primaria_Craiova.jpg" alt="Primăria Craiova" class="img1">
        </div>
    </section>
</main>

<footer>
    <p>2025 Primăria Craiova.</p>
</footer>

@section Scripts {
    <script src="~/script.js"></script>
}
